.hub-toolbar-notification {
  background: rgb(11, 58, 36) !important;
  color: white;
  padding: 2px 10px;
  display: flex;
  align-items: center !important;
}
.hub-toolbar-notification > .toolbar-body {
  display: flex;
  align-items: center !important;
}
.hub-toolbar-notification > .toolbar-body > span {
  font-weight: normal;
  font-size: inherit;
}
